@page "/"
@inherits IndexBase

<head>
    <style>
        .card {
            background-color: transparent;
            background-image: linear-gradient(to bottom, rgba(149, 87, 29, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
            background-repeat: repeat;
            border-radius: 10px;
            padding: 0px;
            margin-bottom: 15px;
        }
    </style>
</head>

<section class="container">
    <div class="row">
        @Widgets()
    </div>
</section>
